<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>

<body class="">
    <div id="background-image"
        style="background-image: url('../static/Tropical\ birds-amico.png'); height: 100vh; width:100%;">
        <div class="navbar navbar-dark bg-dark p-3" style="width:100vw">
            <a class="navbar-brand mx-2">Rate My Birds</a>
            <div class="navbar-text">Side Text</div>
        </div>
        <div class="row" id="mainBody">
            <div class="col-5 container">
                <div class="card-body m-lg-5">
                    <h2 class="m-2">Birdly News</h2>
                    <!-- https://rapidapi.com/newscatcher-api-newscatcher-api-default/api/newscatcher/ -->
                    <p class="card-text"> Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample
                        Text Sample Text Sample Text
                        Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
                        Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
                        Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text
                        Sample Text Sample Text Sample Text Sample Text
                    </p>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-5 col-sm-auto m-5 card-body container-fluid"
                style="background-color: rgb(202, 194, 210); opacity: 0.9; border-radius: 5px;">
                <h2 class="m-2">Join Birds</h2>
                <div class="m-2">
                    <!-- Register -->
                    <div class="card-body">
                        <h4 class="card-header">Register</h4>
                        <form action="/create/user" method="post">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input class="form-control" type="text" name="fname">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input class="form-control" type="text" name="lname">
                            </div>
                            <div class="form-group">
                                <label for="email">Email: </label>
                                <input class="form-control" type="text" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input class="form-control" type="text" name="password">
                            </div>
                            <div class="form-group">
                                <label for="confirm">Confirm Password: </label>
                                <input class="form-control" type="text" name="confirm">
                            </div>
                            <div>
                                <button class="btn btn-primary mt-1" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>

                    <!-- Login -->
                    <div class="card-body">
                        <h4 class="card-header">Login</h4>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="email">Email: </label>
                                <input class="form-control" type="text" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input class="form-control" type="text" name="password">
                            </div>
                            <div>
                                <button class="btn btn-primary mt-1" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"><a href="https://storyset.com/nature">Nature illustrations by Storyset</a></div>
    </div>
</body>

</html>