<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>View Bird</title>
</head>
<body>
    <div class="navbar"></div>
    <div class="main">
        <h2>Visit a Bird</h2>
        <div class="left">
            <h4>Look At This Bird</h4>
            <!-- Picture, Information -->
        </div>
        <div class="right">
            <h4>What do you think?</h4>
            <!-- Form: Add Rating -->
            <!-- Drop down List 1-5 
            1: Weak Bird
            2: Meh...
            3: Survived Natural Selction
            4: Pretty Good Bird
            5: EXCELLENT BIRD -->
            <!-- Submit redirects to this page with rating updated and shows users rating -->

        </div>
    </div>
</body>
</html>