<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css" type="text/css" />
    <script src="../../static/js/ratings.js"></script>
    <title>View Bird</title>
</head>

<body>
    <div id="background-image">
        <!-- navigation -->
        <div id="navie" class="navbar">
            <a class="navbar-brand mx-2" href="/dashboard">Rate My Birds</a>
            <div class="navbar-item">
                <div class="navbar-text m-1"><a href="/logout">Logout</a></div>
            </div>
        </div>

        <div class="main row align-content-around m-1">
            <!-- Left Side -->
            <div class="col row align-content-center" style="margin-left: 10px; min-width: 300px;">
                <div id="left" class="row bg-gradient bg-light">
                    <!-- Picture, Information -->
                    <div class="blockquote">{{bird.species | capitalize}}</div>
                    <img src={{bird.image_url}} alt={{bird.description}} class="img-thumbnail card-img">
                    Bird Description: {{bird.description}}<br />
                    {% if session['user_id']== bird.user_id %}
                    <a href="/profile/{{bird.user_id}}">Entered By: {{bird.user.firstname}}</a>
                    <a href="/birds/delete/{{bird.id}}"><button class="btn btn-danger">Delete Bird</button></a>
                    {% else %}
                    <a href="/profile/{{bird.user_id}}">Entered By: {{bird.user.firstname}}</a>
                    {% endif %}
                </div>
            </div>
            <!-- Right Side -->
            <div class="col row align-content-center" style="min-width: 300px">
                <div class="card bg-light col">
                    <h4 class="p-1">What do you think?</h4>
                    <div class="row">
                        {% if not user_rating %}
                    <form action="/rating/add" method="POST" class="col" style="min-width: 500px; max-width: fit-content;">
                        <div>
                            <label for="rating_value"></label>
                            <input type="hidden" name="rating_value">
                            <input id="btn1" class="btn-star" type="button" title="ugh worst bird" onclick="yup(value)"
                                value="1" />
                            <input id="btn2" class="btn-star" title="meh" type="button" onclick="yup(value)"
                                value="2" />
                            <input id="btn3" class="btn-star" type="button" title="survived natural selection"
                                onclick="yup(value)" value="3" />
                            <input id="btn4" class="btn-star" type="button" title="pretty good bird"
                                onclick="yup(value)" value="4" />
                            <input id="btn5" class="btn-star" type="button" title="excellent bird!" onclick="yup(value)"
                                value="5" />
                        </div>
                        <div>
                            <input type="hidden" name="bird_id" value={{bird.id}}>
                        </div>
                        <button type="submit" class="btn-info btn">Submit Rating</button>
                    </form>
                    {% else %}
                    <p>Your Rating: {{user_rating.value}}</p>
                    <form action="/bird/update/ratings" method="POST" class="col"
                        style="min-width: 500px; max-width: fit-content;">
                        <input type="hidden" name="rating_id" value={{user_rating.id}}>
                        <div>
                            <label for="rating_value"></label>
                            <input type="hidden" name="rating_value">
                            <input id="btn1" class="btn-star" type="button" title="ugh worst bird" onclick="yup(value)"
                                value="1" />
                            <input id="btn2" class="btn-star" title="meh" type="button" onclick="yup(value)"
                                value="2" />
                            <input id="btn3" class="btn-star" type="button" title="survived natural selection"
                                onclick="yup(value)" value="3" />
                            <input id="btn4" class="btn-star" type="button" title="pretty good bird"
                                onclick="yup(value)" value="4" />
                            <input id="btn5" class="btn-star" type="button" title="excellent bird!" onclick="yup(value)"
                                value="5" />
                        </div>
                        <div>
                            <input type="hidden" name="bird_id" value={{bird.id}}>
                        </div>
                        <button type="submit" class="btn-info btn">Submit Rating</button>
                    </form>
                    {% endif %}
                    </div>


                    <!-- rating.js file -->
                    <div class="container">
                        <span id="rateMe1"></span>
                    </div>

                    <div>
                        <h4>Average RATING {{avg_rating}}</h4>
                        <h4>All Ratings</h4>
                        <ul>
                            {% for rating in ratings %}
                            <li>{{rating.user.firstname}} : {{rating.value}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>