<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .plant {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
<body>
    <div>
        <h1>Welcome {{user.first_name}}</h1>
        <button><a href="/add">Plant a Tree</a></button>
        <button><a href="/logout">Logout</a></button>
    </div>
    <div>
        <h1>Table Name is Generic and unnamed.</h1>
        <table>
            <tbody>
                {% for bird in birds %}
                <tr>
                    <td>{{bird.species}}</td>
                    <td> {{ bird.species}}</td>
                    <td>
                        <a href="/show/{{ user.id }}">Show</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>