<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To examine a singl bird</title>
</head>
<body>
    <div>
        <h1>Viewing a stranger</h1>
        <a href="/">Dashboard</a>
        <button><a href="/logout">Logout</a></button>
    </div>
    <div>
        <h1>Bird:{{birds.name}}</h1><br>
        <table>
            {% for bird in birds%}
            <P>Location: {{bird.location}}</P>
            <!-- <p>When: {{ bird.created_at.strftime("%b %d %Y") }}</p> -->
            <p>Discription: {{bird.description}} </p>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>