<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <br/> button
    <button onclick="myFunction()">Click me</button>
    <br/> image
    <br/> Form
            <label>Your Rating:</label>
            <button class="btn btn-star" type="image" onclick="myFunction()" title="1-ok" alt="">
            <button class="btn btn-star" type="image" onclick="myFunction()" title="2-yeah" alt="">
            <button class="btn btn-star" type="image" onclick="myFunction()" title="3-hm" alt="">
            <button class="btn btn-star" type="image" onclick="myFunction()" title="4-ooo!" alt="">

    <br/> Output?
    <div id="star-test">
        0
    </div>
</body>
<script type="text/javascript">
    function myFuction() {
        document.getElementById('star-test').innerHTML=Date();
    }
</script>
<noscript>Sorry, your browser does not support JavaScript!</noscript>
</html>