
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ysabeau:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rubik';
}

#left a{
    color: black;
    font-style: oblique;
}

#background-image{
    background-image: url('./img/tropicalbirdsamico.png'); 
    background-size: 100vh;
    height: 100vh;
}

#navie{
    width:100vw; 
    background-color: rgb(123,150,223,1); 
    opacity: .7;
}

#navie a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Rubik';
    background-color:   #D8E0F5;
    border-radius: 5%;
    padding: 4px;
    text-decoration: none;
}

#navie div a{
    background-color:   #abb7d2;
    color:rgb(251, 244, 205);
}

.btn-star{
    height: 35px;
    width: 35px;
    background-image: url('./img/star.svg.svg');
    background-size: cover;
    background-color: rgb(251, 244, 205);
    color: black;
    border-radius: 45%;
}

.btn{
    background-color: #ffbda7;
}

li .col{
    background-color: bisque;
    opacity: 1;
}