#background-image{
    background-image: url('./img/tropicalbirdsamico.png'); 
    height: 100vh;
    width:100vw;
}

#navie{
    width:100vw; background-color: #D8E0F5; opacity: .8;
}

.btn-star{
    height: 30px;
    width: 30px;
    background-size:cover;
    background-color: gold;
    color: black;
    border-radius: 30%;
}